/* Add CSS Styling */

.odd {
    background-color: #fc9090;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.odd.third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(223 255 214);
    font-size: 24px;
    font-weight: bold;
}